@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.6; }

/* page 1. Home */
.inicial-header {
  background: #333 url("https://source.unsplash.com/daily") no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  text-align: center;
  padding: 2rem; 
  opacity: 0.8;
  }

.btn {
  display: inline-block;
  text-decoration: none;
  background: #f4f4f4;
  color: #333;
  padding: 0.75rem 2rem; }

.small-paragraph {
  font-size: 20px; }

/* Tercer BEM icons! */
.about {
  padding: 30px; }
  .about__paragraph {
    font-weight: bold;
    margin-bottom: 15px; }
  .about__icon {
    background-color: #8c8167;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px; }

/*Flex!*/
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%; }

/* Page 2. About */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
  margin-top: 50px; }
  #about-info .info-right img {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 50%; }

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
  margin-top: 50px; }



/* Page 3. nada aun*/

.item{
  Position:relative;
  }
  .item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(29, 11, 11, 0.6);
  }

  
/* Page 4. Reviews / Testimonials */
#testimonials {
  height: 600px;
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  padding-top: 100px; }
  #testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px; }

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9; }
  #testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%; }
  #testimonials .testimonial img:hover {
    width: 110px; }


/* extend & mixin */
.gridColorContainers, .cards {
  width: 50%;
  height: 50%; }

/* Mixin implementacion */
/* GRID*/
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 20px;
  width: 80%;
  overflow: hidden;
  background-color: #8c8167;
  grid-template-areas: "zamba          music"
                       "creativity     baby"; 
                      }

/* horrible este grid como siempre */
.area-1 {
  grid-area: zamba; }

.area-2 {
  grid-area: music; }

.area-3 {
  grid-area: creativity; }

.area-4 {
  grid-area: baby; }

.container {
  width: 100%;
}
section .gallery {
  display: flex;
  justify-content: center; }

.photo {
  height: 300px;
  width: 400px; }

/* Page 5. Contact*/
.form-wrap {
  background: #fff;
  padding: 15px 25px;
  color: #333; }

.form-wrap h1,
.form-wrap p {
  text-align: center; }

.form-wrap .form-group {
  margin: 15px; }

.form-wrap .form-group label {
  display: block;
  color: #666; }

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px; }

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  color: #fff;
  cursor: pointer;
  border-radius: 5%; }

.form-wrap button:hover {
  background-color: #37a08e; }

.form-wrap .bottom-text {
  font-size: 13px;
  margin-top: 20px; }

/* Footer 2*/
.contact__box {
  float: left;
  width: 33.3%;
  padding: 40px;
  text-align: center;
  text-align: center;
  background: #333;
  color: #fff; }
  .contact__box--active {
    background-color: #4f5a64; }


@media only screen and (max-width: 320px) {
  .contact__box {
    float: none;
    width: 33.3%;
    padding: 40px;
    text-align: center;
    text-align: center;
    background: #333;
    color: #fff; }
    .contact__box--active {
      background-color: #4f5a64; } 
    }

@media only screen and (min-width: 321px) and (max-width: 780px) {
  .contact__box {
    float: none;
    width: 100%;
    padding: 40px;
    text-align: center;
    text-align: center;
    background: #333;
    color: #fff; }
    .contact__box--active {
      background-color: #4f5a64; } }
